@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    
}

body{
    background: hsl(212, 45%, 89%);
    color: hsl(220, 15%, 55%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 15px;
}

main{
    width: 370px;
    height: 570px;
    background: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0 10px 20px hsla(0, 0%, 0%, .1);
}

.qr_code{
    width: 90%;
    height: 60%;
    background: url(../images/image-qr-code.png);
    margin: 20px;
    border-radius: 10px;
    background-size: contain;
    background-position: center;
}

section{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1{
    font-size: 1.5rem;
    color: hsl(218, 44%, 22%);
    margin-bottom: 20px;
}